{% extends 'base.html' %}

{% block content %}
    <div class="row">
        <div id="calories" style="width:1400px;height:800px;"></div>
    </div>
{% endblock %}

{% block jquery %}
var endpoint = '/api/chart/data'
var calorieData = calorieLabels = []

$.ajax({
    method: "GET",
    url: endpoint,
    success: function(data){
        calorieLabels = data.calorie_labels
        calorieData = data.calorie_data
        calorieChart()
        transcriptChart()
    // console.log(data)
    },
    error: function(error_data){
        console.log("error")
        console.log(error_data)
    },
})

function calorieChart(){
    var data = [{
        x: calorieData,
        y: calorieLabels,
        type: 'bar',
        orientation: 'h',
        marker: {
            color: '#23b7e5',
        },
    }];
    var layout = {
        title: 'Number of Foods per User',
        titlefont: {
            family: 'Droid Sans Mono',
            size: 36,
            color: '#000000'
        },
        margin: {l:200},
    };

    Plotly.newPlot('calories', data, layout);
}

{% endblock %}
