{% extends 'base.html' %}

{% block content %}
<div class="container marketing">
  <!-- START THE FEATURETTES -->
  <div class="row featurette">
    <div class="col-md-7">
      <h2 class="featurette-heading">Track your nutrition daily. <span class="text-muted">Yum.</span></h2>
      <p class="lead">Use the search bar to find calorie and nutrition information for any food. When you log in, you can enter the number of servings and save to your daily diary. Save time by selecting from your frequently eaten foods (looking at you, HaloTop).</p>
    </div>
    <div class="col-md-5">
      <img class="featurette-image img-fluid mx-auto" data-src="holder.js/500x500/auto" alt="500x500" style="width: 500px; height: 500px;" src="https://asset1.cxnmarksandspencer.com/is/image/mands/52b9525889284ac5d20b7a268ff0d478d8c368d7?$editorial_580x580$" data-holder-rendered="true">
    </div>
  </div>

  <hr class="featurette-divider">

  <div class="row featurette">
    <div class="col-md-7 order-md-2">
      <h2 class="featurette-heading">See your progress. <span class="text-muted">Yas!</span></h2>
      <p class="lead"> See how your food choices change over time. Foodi's diary is a journey into your food past. Inspiration for the future!</p>
    </div>
    <div class="col-md-5 order-md-1">
      <img class="featurette-image img-fluid mx-auto" data-src="holder.js/500x500/auto" alt="500x500" src="https://mir-s3-cdn-cf.behance.net/project_modules/max_1200/ece21b51661577.58f63a7bb30ee.gif" data-holder-rendered="true" style="width: 500px; height: 500px;">
    </div>
  </div>

  <hr class="featurette-divider">

  <div class="row featurette">
    <div class="col-md-7">
      <h2 class="featurette-heading">And lastly, data. <span class="text-muted">Because 2018.</span></h2>
      <p class="lead">Sure, your daily calories may down but what good is that if you're eating loads of sugar each day? Foodi's NutriAnalysis provides insight into your diet habits. It may not be pretty, but the first step in solving a problem is to recognize it!</p>
    </div>
    <div class="col-md-5">
      <img class="featurette-image img-fluid mx-auto" data-src="holder.js/500x500/auto" alt="500x500" src="https://static1.squarespace.com/static/54046747e4b0c1de7264bf0b/t/596935dbb3db2b8c44f1e52a/1500067320585/higher-carb-for-muscle-building.png" data-holder-rendered="true" style="width: 500px; height: 500px;">
    </div>
  </div>

  <hr class="featurette-divider">

  <!-- /END THE FEATURETTES -->
</div><!-- /.container -->

{% endblock %}
