{% extends 'base.html' %}
{% block content %}
<hr>
<hr>
<hr>
<h1 class="text-center"><img src="{{ food.img }}"><br>{{ food.name }}</h1>

{% include '_label.html' %}

  <h2>Add to your diary.</h2>
  <p>Cras justo odio, dapibus ac facilisis in, egestas eget quam. Donec id elit non mi porta gravida at eget metus. Nullam id dolor id nibh ultricies vehicula ut id elit.</p>
  <div class="dropdown">
    <button class="btn btn-primary dropdown-toggle" type="button" data-toggle="dropdown">Servings
    <span class="caret"></span></button>
    <ul class="dropdown-menu">
      <li><a href="#">1</a></li>
      <li><a href="#">2</a></li>
      <li><a href="#">3</a></li>
      <li><a href="#">4</a></li>
      <li><a href="#">5</a></li>
    </ul>
  </div>

  <div class="container">
      <div class="row">
          <div class='col-sm-6'>
              <input type='text' class="form-control" id='datetimepicker4' />
          </div>
          <script type="text/javascript">
              $(function () {
                  $('#datetimepicker4').datepicker('show');
              });
          </script>
      </div>
  </div>
  <p><a class="btn btn-lg btn-primary" href="#" role="button">Add</a></p>


  {% endblock %}
