{% extends 'base.html' %}
{% block content %}
<br>
<br>
<br>
<br>
<br>
<div class="row">
  <div class="col-lg-5">
    <h1 class="text-left">Select a Day to View Details</h1>
    <div class="diary-calendar text-center">
      <header>
        <button>«</button>
        <h2>July 2018</h2>
        <button>»</button>
      </header>
      <table>
        <tr>
          <th>S</th>
          <th>M</th>
          <th>T</th>
          <th>W</th>
          <th>Th</th>
          <th>F</th>
          <th>S</th>
        </tr>
        <tr>
          <td>1</td>
          <td>2</td>
          <td>3</td>
          <td>4</td>
          <td>5</td>
          <td>6</td>
          <td>7</td>
        </tr>
        <tr>
          <td>8</td>
          <td>9</td>
          <td>10</td>
          <td>11</td>
          <td>12</td>
          <td>13</td>
          <td>14</td>
        </tr>
        <tr>
          <td>15</td>
          <td>16</td>
          <td>17</td>
          <td>18</td>
          <td>19</td>
          <td>20</td>
          <td>21</td>
        </tr>
        <tr>
          <td>22</td>
          <td>23</td>
          <td>24</td>
          <td>25</td>
          <td>26</td>
          <td>27</td>
          <td>28</td>
        </tr>
        <tr>
          <td>29</td>
          <td>30</td>
          <td>31</td>
          <td></td>
          <td></td>
          <td></td>
          <td></td>
        </tr>
      </table>
    </div>
  </div>
  <div class="col-lg-3">
    <div class="container marketing food-list"></div>
  </div>
  <div class="col-lg-4">
    {% if top_foods %}
      <h3> Add it again! </h3>
      <ul>
        {% for x in top_foods %}
        <li><a class="diary-text" href="{% url 'search' %}?query={{x.0}}">{{ x.0 }}</a></li>
        {% endfor %}
      </ul>
    {% else %}
      <h3> Nothing to see here folks. Add food using the tool in the nav bar!</h3>
    {% endif %}
  </div>
</div>
<br>
{% endblock %}
{% block jquery %}
var endpoint = '/diaries'

$( "td" ).click(function() {
  $( ".selected" ).toggleClass( "selected" );
  $( this ).toggleClass( "selected" );
  $( ".food-list" ).empty();
  $( ".food-list" ).append("<h3>July "+this.textContent+", 2018 Diary</h3><ul>");
  $.ajax({
      method: "GET",
      url: endpoint,
      data: {date: "2018-07-"+ this.textContent },
      success: function(data){
        entries = data
        dailyFood()
      // console.log(data)
      },
      error: function(error_data){
          console.log("error")
          console.log(error_data)
      },
  })
  function dailyFood() {
    Object.keys(entries).forEach(function(name){
      $( ".food-list" ).append("<li class='diary-text'>"+name+": "+entries[name]+" servings</li>")
    })
    $( ".food-list" ).append("</ul>")
  }
});
{% endblock%}
