{% extends 'base.html' %}
{% block content %}
<br>
<br>
<br>
<br>
<br>
<div class="container marketing">
      {% for x in user.profile.diaries.all %}
        <p>Date: {{ x.date_eaten }}</p>
        <p class="food">Food: <a href="{% url 'search' %}?query={{x.food.name}}">{{ x.food.name }}</a></p>
        <p>Servings: {{ x.servings }}</p>
      {% endfor %}
</div>
<br>
{% endblock %}
<!--
user = auth.get_user(request)
    if user.profile.foods.count() > 0:
        for x in user.profile.diaries.all():
            all_entries = user.profile.diaries.where(date_eaten = x.date_eaten)
            daily_eats(x.date_eaten) = user.profile.diaries.where(date_eaten = x.date_eaten) -->
