{% extends 'base.html' %}

{% block content %}
  <div class="text-center">
    <br>
    <br>
    {% if form.errors %}
      <p>Your username and password didn't match. Please try again.</p>
    {% endif %}
      <form class="form-signin"  method="post" action="{% url 'login' %}">
        {% csrf_token %}
        <img class="mb-4" src="/static/foodi_logo.png" alt="Foodi Logo" width="200" height="100">
        <h1 class="h3 mb-3 font-weight-normal">Please sign in</h1>
        <div>
          <td>{{ form.username.label_tag }}</td>
          <td>{{ form.username }}</td>
        </div>
        <div>
          <td>{{ form.password.label_tag }}</td>
          <td>{{ form.password }}</td>
        </div>

        <div>
          <input type="submit" value="login" />
        </div>
      </form>
<br>
<br>
<br>

</div>

{% endblock %}
