body {
  font-family: 'Helvetica';
  background-color: #E7F3FF;
  line-height: 1;
  margin: 50px;
}

a {
  color: #00b3b3;
}

.text-center {
  padding-left: 40%;
  padding-right: 40%;
}
.logo {
  height: 100px;
  width: 200px;
}

.diary-text {
  line-height: 2;
  font-size: 20px;
}

.error {
  color: red;
}

nav {
  background-color: #AEE0C5;
}
li {
  list-style-type: none;
}

.diary-calendar {
  background: rgba(0, 0, 0, .1);
  border-radius: 5px;
  box-sizing: border-box;
  padding: 15px;
  width: 80%;
}
header {
  overflow: clear;
  position: relative;
}

button {
  position: absolute;
  top: -4px;
}
button:first-child {
  left: 0;
}
button:last-child {
  right: 0;
}
table {
  background: #fff;
  border-collapse: collapse;
  color: #222;
  font-family: 'PT Sans', sans-serif;
  font-size: 20px;
  width: 100%;
}
td {
  border: 1px solid #ccc;
  color: #444;
  line-height: 22px;
  text-align: center;
}
tr {
  height: 50px;
}
tr:first-child td {
  color: #222;
  font-weight: 700;
}
.selected {
  background: #00b3b3;
  border: 0;
  box-shadow: 0 2px 6px rgba(0, 0, 0, .5) inset;
}

.btn-secondary {
  background-color: #00b3e7;
}

/*==========================================================
               counter section style
============================================================*/

.counter
{
    text-align: center;
    border: 1px solid black;
    border-radius: 5px;
}
.dashboard-counter
{
    margin-top: 70px;
    margin-bottom: 70px;
}
.counter-count
{
    font-size: 18px;
    background-color: #00b3e7;
    border-radius: 50%;
    position: relative;
    color: #ffffff;
    text-align: center;
    line-height: 92px;
    width: 92px;
    height: 92px;
    -webkit-border-radius: 50%;
    -moz-border-radius: 50%;
    -ms-border-radius: 50%;
    -o-border-radius: 50%;
    display: inline-block;
}

.counter-text
{
    font-size: 24px;
    color: #000000;
    line-height: 34px;
}
